* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.header-img {
    width: 152vh;
    height: 10rem;
    padding: 0.27rem;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-img img {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 10px;
    width: 152vh;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    padding: 1rem;
}

/**/

.semesters div {
    list-style: none;
}

.semesters div div {
    background-color: #047cd3;
    height: 2rem;
    border-radius: 5px;
}

.semesters div div:hover {
    background-color: #269ef5;
    cursor: pointer;
}

.semesters div div a {
    display: block;
    width: 100%;
    padding: 0.5rem 0rem;
    text-decoration: none;
    color: white;
    font-family: arial, sans-serif;
}
/**/

.table-container {
    background-color: white;
}

.table-container table tr th {
    color: #047cd3;
}

.table-container table tr td input, #vt, #mg, #credit, #button{
    width: 100%;
    padding: 0.5rem;
    border-style: none;
    text-align: center;
}

#vt, #mg, #credit {
    display: none;
}

#button {
    cursor: pointer;
    background-color: #EBF4FE;
}

@media (max-width: 600px) {
    .header-img, .container {
        width: 100%;
    }

    .container {
        padding: 0.4rem;
    }

    .table-container table tr td, .table-container table tr th {
        font-size: 0.35rem;
    }

    .table-container table tr td input {
        font-size: 0.22rem;
    }
}

